@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/placeholders";
@import "@/styles/abstracts/typography";
@import "@/styles/abstracts/breakpoints";

.screen {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100vh;
  padding: 32px;

  .pageTitle {
    font-size: 32px;
  }

  .formBox {
    padding: 48px;
    padding-top: 32px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
    display: flex;
    flex-direction: column;
    gap: 16px;

    .basicUserData {
      display: flex;
      gap: 48px;

      .userPhoto {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
        align-items: center;

        .profileImage {
          width: 150px;
          height: 150px;
          border-radius: 100%;
        }

        .editPhotoText {
          font-size: 14px;
          font-weight: 500;
          color: #978f8f;
          cursor: pointer;
        }
      }

      .userInfos {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 48px;

        .inputs {
          display: flex;
          flex-direction: column;
          gap: 32px;

          .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 32px;
          }
        }

        .userTypeProfile {
          display: flex;
          flex-direction: column;
          gap: 16px;
          color: black;
          font-weight: 700;
          font-size: 18px;

          .profileTypes {
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: #978f8f;
            font-size: 14px;
            font-weight: 500;

            label {
              cursor: pointer;
            }
          }
        }
      }
    }

    .communicationSection {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .communicationTypes {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .communicationWarning {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: #f5f1f1;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 6px;
      padding-bottom: 6px;

      svg {
        font-size: 20px;
        path {
          fill: #696666;
        }
      }

      .communicationWarningText {
        color: #978f8f;
        font-size: 14px;
        font-weight: 400;

        .useTerms {
          color: rgb(0, 0, 255);
          cursor: pointer;
        }
      }
    }

    .saveSection {
      display: flex;
    }
  }
}

.inputArea {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .inputLabel {
    font-weight: 700;
  }

  .inputBorderBottom {
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 0;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #978f8f;
  }
}

.button {
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  color: white;
  font-weight: $font-weight-bold;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    background-color: gray;
    border-color: rgba(0, 0, 0, 0.2);
    border: unset;
    color: lightgray;
  }
}
  