@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/placeholders";
@import "@/styles/abstracts/typography";
@import "@/styles/abstracts/breakpoints";

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;

    .title {
        font-size: 10pt;
        font-weight: 500;
    }

    .values {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .value {
            font-size: 18pt;
        }

        .subValue {
            font-size: 10pt;
        }
    }
}