@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/placeholders";
@import "@/styles/abstracts/typography";
@import "@/styles/abstracts/breakpoints";

.screen {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100vh;
  padding: 64px;

  .pageTitle {
    font-size: 32px;
  }

  .content {
    display: flex;
    gap: 48px;
  }
}

.planInfo {
  padding: 16px;
  padding-right: 32px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 4px #ccc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  min-width: 460px;

  .planName {
    font-size: 20px;
    font-weight: 700;
  }

  .planStatus {
    color: #978f8f;
    font-weight: 600;

    .status {
      color: rgb(16, 211, 16);
      font-weight: 700;
    }
  }

  .descriptionText {
    color: #978f8f;
    font-weight: 600;
  }

  ul {
    list-style-type: disc !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 700;
    font-size: 14px;
    margin-left: 6px;

    li {
      display: flex;
      gap: 8px;
      align-items: center;

      svg {
        font-size: 6px;
      }

      .subli {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .buttonsSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #978f8f;
    font-size: 12px;
    font-weight: 600;

    .cancelPlanButton {
      cursor: pointer;
    }
  }
}

.button {
  cursor: pointer;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  color: white;
  font-weight: $font-weight-bold;
  background-color: rgb(6, 168, 243);
  border: 1px solid rgb(6, 168, 243);
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    background-color: gray;
    border-color: rgba(0, 0, 0, 0.2);
    border: unset;
    color: lightgray;
  }
}

.paymentInfo {
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 48px;
  padding-bottom: 48px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 2px #ccc;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
  min-width: 460px;
  height: fit-content;

  .paymentInfoTitle {
    font-size: 20px;
    font-weight: 700;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .infoGroup {
      display: flex;
      gap: 4px;
      color: #978f8f;
      font-weight: 400;

      .value {
        color: black;
        font-weight: 700;
      }
    }
  }
}

.paymentHistory {
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 48px;
  padding-bottom: 48px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 2px #ccc;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 14px;
  min-width: 100%;
  height: fit-content;

  .paymentHistoryTitle {
    font-size: 20px;
    font-weight: 700;
  }

  .table {
    width: 100%;
    border-collapse: collapse;

    thead {
      display: table-header-group;
      color: #978f8f;
      font-weight: 700;

      th {
        padding: 8px;
        text-align: left;
      }
    }

    tbody {
      display: table-row-group;

      tr {

        td {
          padding: 8px;
          text-align: left;
        }
      }
    }
  }
}

.paid {
  color: rgb(8, 236, 8);
  font-weight: 600;
}

.waitingPayment {
  color: rgb(247, 202, 6);
  font-weight: 600;
}

  